Package: ffmpeg
Version: ${FFMPEG_DEB_VERSION}
Section: base
Priority: optional
Architecture: arm64
Depends:
Maintainer: Your Name <you@email.com>
Description: FFmpeg from scratch
 FFmpeg built for armv8
